* {
  box-sizing: border-box;

}

.container1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;

}

.container {
  background-color: rgb(14, 14, 14);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;


}

.button {
  width: 100px;
  height: 100px;
  border-radius: 5cap;
  border: none;
  background-color: rgb(92, 92, 92);
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}